@font-face {font-family: "iconfont";
  src: url('/static/iconfont.ttf?t=1585123960335') format('truetype'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e61e";
}

.icon-wancan:before {
  content: "\e6a5";
}

.icon-yexiao:before {
  content: "\e6ae";
}

.icon-wucan:before {
  content: "\e6bb";
}

.icon-jiantou:before {
  content: "\e610";
}

.icon-beifen-xiaotubiao_food-mifan:before {
  content: "\e65d";
}

.icon-beifen-xiaotubiao_food-hanbaobao:before {
  content: "\e65e";
}

.icon-beifen-xiaotubiao_food-tiantianquan:before {
  content: "\e65f";
}

.icon-beifen-xiaotubiao_food-mianbao:before {
  content: "\e660";
}

.icon-zhiding:before {
  content: "\e63f";
}

.icon-yemian:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e643";
}

.icon-fuwushangruwangsvg:before {
  content: "\e624";
}

.icon-shanghuruwangsvg:before {
  content: "\e627";
}

.icon-xiaoxizhongxinsvg:before {
  content: "\e629";
}

.icon-zhongduanbangdingsvg:before {
  content: "\e62a";
}

.icon-lishijiangli:before {
  content: "\e62b";
}

.icon-shuju-heise:before {
  content: "\e62c";
}

.icon-tixianjilu:before {
  content: "\e62d";
}

.icon-wodedingdan:before {
  content: "\e62e";
}

